/* @media screen and (max-width: 760px) {
} */

.App-filters {
    flex-direction: column;
    position: absolute;
    right: 0px;
    bottom: 60px;
    padding: 10px;
    background: black;
}

.App-filters-filter-container {
  display: flex;
  justify-content: space-between;
}

.App-filters-select-container {
  width: 234px;
}

.ui.large.label.App-filters-filter-pre-text {
  width: 75px;
}

#App-filters-sort a.item{
  font-size: 10px;
}
