// http://www.useragentman.com/blog/2012/01/03/cross-browser-html5-progress-bars-in-depth/
@import "../../globals.scss";

$border-radius: 300px;

@mixin progress-bar-value() {
  background: $bc-pink;
  border-radius: $border-radius;
}

@mixin progress-bar() {
  background: $bc-gray;
  border-radius: $border-radius;
}

.SeekBar {
  text-align: center;
  width: 100%;

  progress, progress[role] {
    /* Turns off styling - not usually needed, but good to know. */
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;

    /* gets rid of default border in Firefox and Opera. */
    border: none;

    /* Needs to be in here for Safari polyfill so background images work as expected. */
    background-size: auto;

    /* Dimensions */
    width: 100%;
    border: none;
    height: 0.5rem;
    border-radius: $border-radius;

  }
  
  progress::-webkit-progress-bar {
    @include progress-bar();
  }
  progress::-webkit-progress-value {
    @include progress-bar-value();
  }
  
  progress::-moz-progress-bar {
    @include progress-bar-value();
  }
  
  progress::-moz-progress-value {
    @include progress-bar();
  }

  progress:hover {
    cursor: pointer;
  }

  @media only screen and (max-width: 767px) {
    progress[value] {
      height: 1.2rem;
    }
  }
}
