@import '../../globals.scss';

.ShareButton {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 1rem;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 160%;
  

  &:hover {
    .ShareButton-text {
      color: $bc-pink;
    }
  }

  .ShareButton-text {
    letter-spacing: normal;
  }
}
