.BCSearch-plain-icon:hover {
  cursor: pointer;
}


/* .BCSearch-container {
  width: -webkit-fill-available;
} */

/* div.ui.icon.input {
  width: -webkit-fill-available;
} */

//*[@id="root"]/div/div[1]/div[1]/div/div/div/div[1]
