@import '../../globals.scss';

.BCLogo {
  // border: 1px solid red;
  
  &:hover{
    cursor: pointer;
  }

  display: flex;
  align-items: center;
 
  margin: 15px 25px;


  .BCLogo-svg {
    width: 72px;
  }
  .BCLogo-text {
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 2.1px;
    margin-left: 20px;
  }

  @media (max-width: $phone-width) {
    flex-direction: column;
    margin-top: 24px;
    
    .BCLogo-svg {
      width: 64px;
      padding-right: 8px;
    }
    
    .BCLogo-text {
      margin: 0;
      margin-top: 8px;
    }
  }
}
