@import '../../globals.scss';

.BCLogo {
  &:hover{
    cursor: pointer;
  }

  display: flex;
  align-items: center;
  margin: 15px 25px;


  .BCLogo-svg {
    width: 72px;
  }
  .BCLogo-text {
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 2.1px;
    margin-left: 20px;
  }

  @media (max-width: $phone-width) {
    flex-direction: column;
    .BCLogo-text {
      margin: 0;
    }
  }
}
