@import "../../globals.scss";

.CollectionDetail-copy {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  span {
    &:hover {
      cursor: pointer;
    }
  }
}

.CollectionDetail {
  background-color: $bc-black-1;
  position: relative;

  .before-handle {
    color: $bc-gray;
  }

  .CollectionDetail-cover-art-handle {
    a {
      color: $bc-purple;
      &:hover {
        cursor: pointer;
      }
    }
  }

  .CollectionDetail-content {
    background-color: $bc-black-1;
    border-radius: 3px;
    margin: 0px;

  

    .CollectionDetail-explore-more-container {
      display: flex;
      justify-content: center;
      margin: 2rem 0 2rem 0;

      .CollectionDetail-explore-more {
        width: 280px;
        height: 52px;
        border-radius: 26px;
        background-color: #6255ff;
        border: none;
        &:focus {
          outline: none;
        }

        @include bc-text(600);
        font-size: 1.2rem;
        letter-spacing: 3px;
        &:hover {
          cursor: pointer;
        }
      }
    }

    .CollectionDetail-close-icon-container {
      position: absolute;
      width: 1.4rem;
      display: flex;
      justify-content: center;
      background-color: rgba(255, 255, 255, 0.1);
      width: 4rem;
      height: 4rem;
      border-radius: 100px;
      right: 0;
      // top: 3rem;
      // right: 3rem;
      &:hover {
        cursor: pointer;
      }
    }
    .CollectionDetail-content-top {
      align-items: center;
    }

    .CollectionDetail-content-middle {
      // padding: 0 1rem 0 1rem;
      display: flex;
      align-items: center;
      flex-direction: column;

      .CollectionDetail-cover-text {
        @include bc-text();
        width: 100%;
        letter-spacing: normal;
        padding-left: 2rem;

        .CollectionDetail-cover-text-header {
          font-size: 2.5rem;
          font-weight: 600;
        }
        .CollectionDetail-cover-text-subheader {
          font-size: 1.3rem;
          font-weight: normal;
          line-height: 1.25;
        }

        .CollectionDetail-line {
          width: 15px;
          height: 2px;
          background: $bc-pink;
          margin: .5rem 0 .5rem 0;
        }
      }

      .CollectionDetail-image-container {
        margin: 1rem 0 1rem 0;
        position: relative;
        width: 250px;

        .CollectionDetail-play-button-container {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }
      }

      .CollectionDetail-MainText {
        font-size: 2rem;
        color: $bc-gray;
        font-weight: 600;
      }
    }

    @media (max-width: $phone-width) {
      // width: 85%;
    }
  }
}
