@import "../../globals.scss";

.SplashBanner {
  position: relative;
  margin-top: 72px;

  .SplashBanner-next-action-msg {
    color: $bc-pink;
    opacity: 0.75;
    text-decoration: underline;
    &:hover {
      cursor: pointer;
      opacity: 1;
    }
  }
  // https://css-tricks.com/tinted-images-multiple-backgrounds/


  .SplashBanner-content {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    @media (max-width: $phone-width) {
      top: 45px;
    }

    .SplashBanner-message-container {
      @include bc-text();
      text-align: center;
      display: flex;
      align-items: center;
      height: 120px;
      margin-top: 1rem;
      padding-top: 2rem;
      // justify-content: space-evenly;
      flex-direction: column;

      .SplashBanner-message-header {
        font-weight: 900;
        font-size: 3rem;
      }

      .SplashBanner-message-subheader {
        margin-top: 2rem;
        line-height: 14px;
        font-size: 13px;
      }
      @media (max-width: $phone-width) {
        justify-content: initial;
        // margin-top: 4rem;
        height: 80px;

        .SplashBanner-message-header {
          font-size: 2rem;
        }

        .SplashBanner-message-subheader {
          font-size: 1rem;
          margin-top: 1rem;
        }
      }
    }

    .SplashBanner-submit-message {
      @include bc-text();
      font-size: 1.3rem;
      text-align: center;
    }

    .SplashBanner-form-container {
      .SplashBanner-close-message-container {
        display: flex;
        justify-content: center;
        padding-top: 1rem;

        .SplashBanner-close-message {
          font-size: 1.1rem;
          color: $bc-gray;
          text-align: center;
          text-decoration: underline;
          opacity: 0.8;
          &:hover {
            opacity: 1.0;
            cursor: pointer;
          }
        }
      }

      .SplashBanner-email-container {
        position: relative;

        .SplashBanner-email {
          @include bc-text();
          color: #242a3b;
          border-radius: 20px;
          border: none;
          font-size: 1.2rem;
          height: 35px;
          width: 300px;
          
          padding-left: 20px;

          @media (max-width: $tiny-width) {
            width: 250px;
          }
        }

        .SplashBanner-arrow-container {
          position: absolute;
          display: flex;
          right: 3px;
          top: 3px;
          padding: 5px;
          width: 20px;
          height: 21px;
          // background: rgba(255, 255, 255, 0.1);
          background: #242a3b;
          border-radius: 50px;
          justify-content: center;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}
