@import "../../globals.scss";

.SplashBanner {
  position: relative;

  .SplashBanner-next-action-msg {
    color: $bc-pink;
    opacity: 0.75;
    text-decoration: underline;
    &:hover {
      cursor: pointer;
      opacity: 1;
    }
  }
  // https://css-tricks.com/tinted-images-multiple-backgrounds/
  .SplashBanner-image-container {
    max-height: 400px;
    min-height: 300px;

    .SplashBanner-image {
      width: 100%;
      height: auto;
      max-height: 300px;
      // MAKE THIS NOT LOOK ALL SQUISHED
    }
  }

  .SplashBanner-content {
    position: absolute;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    top: 50px;
    flex-direction: column;

    @media (max-width: $phone-width) {
      top: 45px;
    }

    .SplashBanner-message-container {
      @include bc-text();
      text-align: center;
      display: flex;
      align-items: center;
      height: 150px;
      justify-content: space-evenly;
      flex-direction: column;

      .SplashBanner-message-header {
        font-size: 3rem;
      }

      .SplashBanner-message-subheader {
        letter-spacing: 2.14px;
        line-height: 14px;
        font-size: 13px;
      }
    }

    .SplashBanner-submit-message {
      @include bc-text();
      font-size: 1.3rem;
      text-align: center;
    }

    .SplashBanner-form-container {
      .SplashBanner-email-container {
        position: relative;

        .SplashBanner-email {
          @include bc-text();
          border-radius: 20px;
          border: none;
          height: 35px;
          width: 300px;
          background: #242a3b;
          padding-left: 20px;
        }

        .SplashBanner-arrow-container {
          position: absolute;
          display: flex;
          right: 6px;
          top: 3px;
          padding: 5px;
          width: 20px;
          height: 20px;
          background: rgba(255, 255, 255, 0.1);
          border-radius: 50px;
          justify-content: center;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}
