.SuperFilterPanel {
	padding: 35px;
	/* background: image('./yo.jpg'); */
	background: linear-gradient(#e66465, #9198e5);
	-webkit-box-shadow: 5px 1px 8px 2px #ccc;
	min-height: 130px;
}

/* https://react-slick.neostack.com/docs/example/custom-arrows */
/* button.slick-arrow.slick-next {
  background: blue;
}

button.slick-arrow.slick-prev {
  background: blue;
} */
