@import "../../globals.scss";

.BCModal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 50;
  z-index: 1000000;

  .BCModal-content-container {
    .BCModal-content {
      padding: 4rem 4rem 4rem 4rem;
    }

    background-color: #1f1f2b;

    border-radius: 3px;
    max-width: 400px;
    min-height: 240px;
    margin: 0px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .BCModal-close-icon {
      position: absolute;
      width: 1.4rem;
      top: 3rem;
      right: 3rem;
      &:hover {
        cursor: pointer;
      }
    }

    .BCModal-content-top {
      // height: 80px;
      // padding: 20px;

      // border: 1px solid red;
      justify-content: left;
      display: flex;
      align-items: center;

      .BCModal-MainText {
        font-size: 2rem;
        color: $bc-purple;
        font-weight: 600;
      }
    }

    .BCModal-content-bottom {
      // background: #f3f3f3;
      padding: 1rem 0.8rem;

      .BCModal-close-button-container {
        padding-top: 3rem;
        display: flex;
        justify-content: center;
      }

      .Curators-list {
        padding-top: 2rem;
      }
    }
    @media (max-width: $phone-width) {
      width: 85%;
    }
  }
}
