.audio-player {
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 75px;
  left: 0px;
}

progress {
  width: 100%;
}

progress:hover {
  cursor: pointer;
}

progress[value] {
  -webkit-appearance: none;
  appearance: none;
  background-color: white;
  color: #de3e96;
  height: .7rem;
}

progress[value]::-webkit-progress-bar {
  background-color: white;
  border-radius: 2px;
  border: 1px solid lighten(#acacac, 20%);
  color: #de3e96;
}

progress::-webkit-progress-value {
  background-color: #de3e96;
}

@media only screen and (max-width: 767px) {
  progress[value] {
    height: 1.2rem;
  }
}
