@import "../../globals.scss";

.ShareModal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 50;
  z-index: 100;

  .ShareModal-content {
    background-color: #fff;
    
    border-radius: 3px;
    max-width: 600px;
    min-height: 240px;
    margin: 0px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .ShareModal-close-icon {
      position: absolute;
      width: 1.4rem;
      top: 3rem;
      right: 3rem;
      &:hover {
        cursor: pointer;
      }
    }

    .ShareModal-content-top {
      height: 80px;

      justify-content: center;
      display: flex;
      align-items: center;

      .ShareModal-MainText {
        font-size: 2rem;
        color: $bc-gray;
        font-weight: 600;
      }
    }

    .ShareModal-content-bottom {
      background: #f3f3f3;
      padding: 40px 60px;
      .ShareModal-HowTo {
        color: #a4a4a4;
        font-size: 1.6rem;
        padding-bottom: 1rem;
      }
      .ShareModal-fake-form {
        height: 5.2rem;
        display: flex;
        .ShareModal-url {
          border-radius: 2px 0px 0px 2px;
          border: none;
          height: inherit;

          font-size: 1.6rem;
          color: $bc-gray;
          width: 70%;
          padding: 0px 0px 0px 20px;
          @media (max-width: $phone-width) {
            display: none;
          }
          
          &:hover {
            cursor: default;
          }
        }

        .ShareModal-button {
          border: none;
          border-radius: 0px 2px 2px 0px;
          height: inherit;

          &:hover {
            cursor: pointer;
          }

          &:focus {
            outline: none;
          }
          background: $bc-pink;
          width: 30%;
          letter-spacing: 3px;
          color: $bc-white;
          font-size: 1.2rem;
          @media (max-width: $phone-width) {
            width: 100%;
          }
        }
      }
    }
    @media (max-width: $phone-width) {
      width: 85%;
    }
  }
}
