@import '../semantic-overides.scss';

.ExploreNav {



  .ExploreNav-tabs {
    display: flex;
    justify-content: space-between;
    width: 550px;
    padding-bottom: 20px;
    margin: auto;

    .ExploreNav-tab {
      &:hover {
        cursor: pointer;
      }
      @include bc-text();
      width: 71px;
      height: 17px;
      font-size: 12px;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 3px;
    }

    .selected {
      font-weight: 600;
      color: $bc-purple;
    }
  }

  .ExploreNav-Line {
    width: 1200px;
    height: 2px;
    border-style: solid;
    border-width: 2px;
    border-image-source: linear-gradient(
      to left,
      rgba(46, 46, 46, 0),
      #3d3d3d 52%,
      rgba(44, 44, 44, 0)
    );
    border-image-slice: 1;
  }

  .ExploreNav-selected-tab {
    position: relative;
  }


  .ExploreNav-Selected-Line {
    // width: 124px;
    width: 100%;
    position: absolute;
    top: 40px;
    height: 0.1px;
    border-style: solid;
    border-width: 2px;
    border-image-source: linear-gradient(to left, rgba(98, 84, 253, 0), #6255ff 52%, rgba(98, 84, 253, 0));
    border-image-slice: 1;
  }
}
