@import '../semantic-overides.scss';

.Home-social-links {
	display: flex;
	justify-content: space-evenly;
	margin-bottom: 2rem;
}

.Home-BC-greeting-container {
	margin-top: 3em;
}

.Home-BC-description {
	font-size: 1.5rem;
	margin-bottom: 1rem;
}

.Home-widget {
	margin-top: 2rem;
}

.Home-widget-container {
	margin-bottom: 2rem;
}

// OVERRIDES
.ui.inverted.header {
		@include bc-text();
}

.Home-widget-header {
		@include bc-text(600);
		font-size: 20px;
		line-height: 27px;
		margin-bottom: 11px;
}

.Home-widget-sub-header {
		@include bc-text();
		color: $bc-purple;
		font-size: 16px;
		line-height: 22px;
		margin: 0px;
}
