@import "../../globals.scss";

.Wrapper {
  margin: auto 100px;
  margin-bottom: 50px;
  flex-direction: column;
  display: flex;
  // max-width: $desktop-width;
  width: $desktop-width;

  @media (max-width: $phone-width) {
    margin: auto 20px;
  }
}
