.TrackList-container {
	text-align: center;
}

.TrackList-home-header {
	text-align: left;
}

.TrackList-home-header a {
	padding-right: 1em;
}


.TrackList-artwork-play-pause-container {
	width: 25% !important;
	max-height: auto !important;
	position: relative;
}

.TrackList-artwork-play-pause-container img {
	display: block;
}

.TrackList-play-pause-icon {
	color: white;
}

i.pause.circle.outline.icon.TrackList-play-pause-icon {
	height: auto;
	font-size: 40px;
	top: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	left: 50%;
}

i.video.play.outline.icon.TrackList-play-pause-icon {
	height: auto;
	font-size: 40px;
	top: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	left: 50%;
	opacity: 0.75;
}

.TrackList-play-pause-icon:hover {
	cursor: pointer;
}

.TrackList-artist-image-container:hover {
	cursor: pointer;
}

.TrackList-artist-image-container {
	width: 30px;
}

.TrackList-artist-image {
	width: 100%;
	height: auto;
	border-radius: 100px;
}

.TrackList-artist-info {
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	/*display none DEBUGGING ONLY v*/
	/*display:none;*/
}

.ui.relaxed.divided.items>.item {
	padding: 1.5em 1.5em;
}

.ui.relaxed.divided.items .content{
	/*DEBUG CLASS ONLY ERASE IF NOT NEEDED*/
	padding: 0 !important;
}

.ui.relaxed.divided.items .content a.header,
.ui.relaxed.divided.items .content .TrackList-artist-name,
.ui.relaxed.divided.items .content .description,
.ui.relaxed.divided.items .content .extra {
	color: white;
	/*display none DEBUGGING ONLY v*/
	/*display: none;*/
}
