.TrackList-container {
	text-align: center;
	margin-bottom: 2rem;
}

.TrackList-home-header {
	text-align: left;
}

.TrackList-home-header a {
	padding-right: 1em;
}

.TrackList-Scroll-Button:hover {
	cursor: pointer;
}
i.arrow.alternate.circle.up.outline.big.icon.TrackList-Scroll-Button {
    margin-top: 1rem;
}

.TrackList-Bottom-Buttons-Container {
	display: flex;
	flex-direction: column;
	width: 6rem;
	margin: auto;
	width: 50%;
	align-items: center;
}

.TrackList-artwork-play-pause-container {
	width: 100%;
	max-width: 250px;
	max-height: auto;
	position: relative;
	background: gradient(linear, left top, left bottom, from(#e66465), to(#9198e5))
}

.TrackList-artwork-play-pause-container img {
	display: block;
	box-shadow: 5px 5px 10px;
}

.TrackList-curator-popup-container {
	display: block;
}

.TrackList-curator-list-items.ui.basic.label {
	width: 100%;
}

.TrackList-play-pause-icon {
	color: white;
}

i.pause.circle.outline.icon.TrackList-play-pause-icon {
	height: auto;
	font-size: 40px;
	top: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	left: 50%;
}

i.video.play.outline.icon.TrackList-play-pause-icon {
	height: auto;
	font-size: 40px;
	top: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	left: 50%;
	opacity: 0.75;
}

.TrackList-play-pause-icon:hover {
	cursor: pointer;
}

.TrackList-artist-image-container:hover {
	cursor: pointer;
}

.TrackList-artist-image-container {
	width: 30px;
	margin-left: 5px;
}

.TrackList-artist-image {
	width: 100%;
	height: auto;
	border-radius: 100px;
}

.TrackList-artist-info {
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	/*display none DEBUGGING ONLY v*/
	/*display:none;*/
}

.ui.relaxed.divided.items .meta, 
.ui.relaxed.divided.items .description, 
.ui.relaxed.divided.items .extra {
	margin:0;
}

.ui.relaxed.divided.items {
	width: 100%;
	max-width: 100%;
}

.ui.relaxed.divided.items .item {
	padding: 0 1.3rem 0 2rem;
}

.ui.relaxed.divided.items .item>.TrackList-artwork-play-pause-container{
	width: auto;
	height: 100px;
	margin-right: 5%;
}

.ui.relaxed.divided.items .content{
	/*DEBUG CLASS ONLY ERASE IF NOT NEEDED*/
	padding: 0;
	width: 65%;
}

.ui.relaxed.divided.items .item>.content,
.ui.relaxed.divided.items .item>.TrackList-artwork-play-pause-container{
  display: inline-block;
  float:left;
  padding: 0;
  position: relative;
}



.ui.items>.item>.content>.header:not(.ui) {
    font-size: 1em;
}

.ui.statistic>.value~.label{
	font-size: 0.85rem;
}

.ui.relaxed.divided.items .content .header a {
	font-weight: 700;
}

/*.ui.image>.ui.ribbon.label {
	z-index: 1;
}*/

.gradient {
	width: 100px;
	height: 100px;
	position: absolute;
	top: 0;
	left: 0;
	background: linear-gradient(transparent 70%, rgba(0,0,0,0.9));
}

.header i.soundcloud, 
.header .TrackList-selection-count .value,
.header .TrackList-selection-count .label{
	color: white;
	position:absolute;
	bottom: 0;
}
.header i.soundcloud{
	left: -16px;
}

.header .TrackList-selection-count .value{
	left: 17px;
	font-size: 1.75rem !important;
}

.header .TrackList-selection-count .label{
	right:2px;
}


.ui.relaxed.divided.items .content .header a,
.TrackList-artist-name,
.ui.relaxed.divided.items .content .description,
.ui.relaxed.divided.items .content .extra {
	color: white;
	/*display none DEBUGGING ONLY v*/
	/*display: none;*/
}

hr.separator {
	width:75%;
	border-color: #5a5a5a;
	margin: 0.75rem auto;
	display: inline-block;
}


