.TrackList-container {
	text-align: center;
	margin-bottom: 2rem;
}

.TrackList-home-header {
	text-align: left;
}

.TrackList-home-header a {
	padding-right: 1em;
}

.TrackList-Scroll-Button:hover {
	cursor: pointer;
}
i.arrow.alternate.circle.up.outline.big.icon.TrackList-Scroll-Button {
    margin-top: 1rem;
}

.TrackList-Bottom-Buttons-Container {
	display: flex;
	flex-direction: column;
	width: 6rem;
	margin: auto;
	width: 50%;
	align-items: center;
}

.TrackList-artwork-play-pause-container {
	width: 100%;
	max-width: 250px;
	max-height: auto;
	position: relative;
	background: gradient(linear, left top, left bottom, from(#e66465), to(#9198e5))
}

.TrackList-artwork-play-pause-container img {
	display: block;
}


@media (max-width: 770px) {
	.ui.relaxed.divided.items .item>.TrackList-artwork-play-pause-container{
		width: auto;
		/* height: 100px; */
		/* margin-right: 2.5%; */
	}
}



.TrackList-curator-popup-container {
	display: block;
}

.TrackList-curator-list-items.ui.basic.label {
	width: 100%;
}

.TrackList-play-pause-icon {
	color: white;
}

i.pause.circle.outline.icon.TrackList-play-pause-icon {
	height: auto;
	font-size: 40px;
	top: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	left: 50%;
}

i.video.play.outline.icon.TrackList-play-pause-icon {
	height: auto;
	font-size: 40px;
	top: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	left: 50%;
	opacity: 0.75;
}

.TrackList-play-pause-icon:hover {
	cursor: pointer;
}

.TrackList-artist-image-container:hover {
	cursor: pointer;
}

.TrackList-artist-image-container {
	width: 30px;
	margin-left: 5px;
}

.TrackList-artist-image {
	width: 100%;
	height: auto;
	border-radius: 100px;
}

.TrackList-artist-info {
	display: flex;
	align-items: center;
	justify-content: center;
}

.ui.relaxed.divided.items > .item {
	padding: 1.5em 1.5em;
}

.TrackList-artwork-play-pause-container img {
	display: block;
	box-shadow: 5px 5px 10px;
}
