.BCLoading {
    height: 1000px;
    // border: solid 5px red;
    display: flex;
    justify-content: center;
    .BCLoading-icon-container {
        .BCLoading-icon {
            width: 200px;
        }
    }
    
}