.App {
  /* text-align: center; */
}

.App-bottom-nav {
  position: relative;
}

.App-container {
  /* margin-bottom: 70px; */
}

.App-bottom-nav-container {
  width: 100%;;
  justify-content: space-between;
  bottom: 0;
  position: fixed;
  height: 80px;
  display: flex;
  background: black;
  align-items: center;
}

@media only screen and (max-width: 767px)
.ui.container {
    /* margin-left: 1em!important; */
    /* margin-right: 1em!important; */
    margin-left: 0!important;
    margin-right: 0!important;
  }


.App-bottom-nav-track-info-container {
  color: white;
  /* width: 200px; */
  height: 70px;
}

.App-bottom-nav-track-info-container > .item {
  display: flex;
}

.ui.tiny.image.App-bottom-nav-track-image {
    margin-right: 10px;
}

.App-bottom-nav-play-button:hover {
  cursor: pointer;
}

.App-filters-toggle-icon-container  {
  padding-right: 10px;
}

.App-filters-toggle-icon-container:hover {
  cursor: pointer;
}

.App-logo:hover {
  cursor: pointer;
}

.App-sidebar-button:hover {
  cursor: pointer;
}

.ui.negative.message.App-message {
  width: 25rem;
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
}

.ui.positive.message.App-message {
  width: 25rem;
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
}


/*  TOP NAV SHIT BEFORE WE REFACTOR OUT INTO ITS OWN COMPNENT */

.App-bottom-nav-box:first-child > div { margin-right: auto; }
/*  ino why the box doesn twork here*/
.App-filters-toggle-icon-container {
  margin-left: auto;
}
/* this would be cleaner, below */
/* .App-bottom-nav-box:last-child { margin-left: auto; } */

.App-bottom-nav-box {
  flex: 1;
  align-items: inherit;
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 767px) {
  .ui.container {
    width: auto;
    margin-left: auto!important;
    margin-right: auto!important;
  }

}
