.ui.segment.Track-banner-container {
    /* display: flex; */
    justify-content: space-between;
}

.Track-banner-background-image {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
    background-size: 100%;
    -webkit-filter: blur(5px);
    filter: blur(5px);
}

.Track-banner-left-half, .Track-banner-right-half {
    z-index: 1000;
    height: 100%;
    padding: .5rem;
    border-radius: 10px;
    background-color: rgba(193, 193, 193, 0.5);
}

@media (max-width: 700px) {
  .ui.segment.Track-banner-container {
    flex-direction: column;
    align-items: center;
  }
  .Track-banner-right-half {
    margin-top: 2rem;
  }
}

.Track-banner-main-icons {
  display: flex;
  width: 7rem;
  justify-content: space-between;
}
