@import "../../globals.scss";

.PlayerControls {
  display: flex;
  padding-right: 40px;
  background: $bc-gray-2;
  height: $bottom-nav-height;
  align-items: center;

  padding-left: 30px;
  width: 60%;

  @media (max-width: $phone-width) {
    background: $bc-black;
  }

  .PlayerControls-btn-container {
    &:hover {
      cursor: pointer;
    }
    padding: 10px;
    display: flex;
    .next .prev .repeat .visualizer {
      width: 30px;
    }

    .PlayerControls-btn {
      width: 100%;
      height: auto;
    }
  }
}
