@import "../../globals.scss";

.PlayerControls {
  display: flex;
  padding-right: 40px;
  background: $bc-gray-2;
  height: $bottom-nav-height;
  align-items: center;
  min-width: 200px;
  padding-left: 30px;
  width: 78%;

  .PlayerControls-time {
    margin: 0 1rem 0 1rem;
    font-size: 1.2rem;
    color: $bc-gray;
  }


  @media (max-width: $phone-width) {
    background: $bc-black;
  }

  .PlayerControls-btn-container {
    &:hover {
      cursor: pointer;
    }
    padding: 10px;
    display: flex;
    .next .prev .repeat .visualizer {
      width: 30px;
    }

    .PlayerControls-btn {
      width: 100%;
      height: auto;
    }
  }
}
