.PlayerControls {
  display: flex;
  padding-right: 40px;

  .play {
    width: 40px;
    .PlayerControls-play-btn {
      // this is a hack to get the two colors to stay pink
      // to make gray ->, filter: invert(.5)
      filter: invert(.5) sepia(1) saturate(19) hue-rotate(300deg);
    }
  }

  .PlayerControls-btn-container {
    &:hover {
      cursor: pointer;
    }
    padding: 10px;
    display: flex;
    .next .prev {
      width: 30px;
    }

    .PlayerControls-btn {
      width: 100%;
      height: auto;
    }
  }
}
