.ui.secondary.pointing.menu{
	color: white;
	text-align: center;
	margin: 0.5rem 0;
	height: 50px;
}

.ui.secondary.pointing.menu>.item {
	background: transparent;
	color:#fff;
	width:25%;
	text-align: center;
	margin:0;
	font-weight: 700;
	font-size: 1.1rem;
	border-left: 1px #5a5a5a solid;
	padding:10px 10px;
	display: block;
	transition: 0.25s color;
}

.ui.secondary.pointing.menu>.item.active {

}

.ui.secondary.pointing.menu>a.item:hover,
.ui.secondary.pointing.menu>.item:active,
.ui.secondary.pointing.menu>.item.active,
.ui.secondary.pointing.menu>.item.active:hover{
	color: rgb(95, 158, 160);
	border-left: 1px #5a5a5a solid;
}