.opaque {
  opacity: 0.1;
}

.hidden {
  opacity: 0;
}

.visible {
  opacity: 1;
}

.BCProgressiveImage {
      width: 100%;
      height: auto;
      border-radius: 4px;
      box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);

}
// .BCProgressiveImage {
//     width: 100%;
//     height: 100%;
//   .BCProgressiveImage-img {
//     width: 100%;
//     height: auto;
//     border-radius: 4px;
//     box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
//   }
// }
