@import "../../globals.scss";

.Footer {
  text-align: center;
  font-size: 1.4rem;
  padding: 1.4rem;

  @include bc-text();
  .Footer-left {
    color: $bc-gray;
  }

  .Footer-left, .Footer-right {
    padding: 0 1rem 0 1rem;
  }
}

.position-absolute {
  position: absolute;
  bottom: 1rem;
  transform: translate(-50%, -50%);
  left: 50%;
}
