@import '../../globals.scss';

$grid-spacing: 2rem; 

@media (max-width: $phone-width) {
  $grid-spacing: 4rem;
}

.CollectionList {
  .CollectionList-grid {
    display: grid;
    // play with this first value written in px
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

    grid-row-gap: $grid-spacing;
    grid-column-gap: $grid-spacing;
  }
}
