.BCLogo {
  display: flex;

  .BCLogo-svg {
    width: 72px;
  }
  .BCLogo-text {
    margin-left: 22px;
    margin-top: 5px;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 2.1px;
    width: 93px;
    height: 14px;
  }
}
