.App {
  text-align: center;
}

.App-filters {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.App-error {
  position: absolute;
  z-index: 10;
  right: 40%;
}

.App-top-nav {
  position: relative;
}
