.App {
  text-align: center;
}

.App-logo:hover {
  cursor: pointer;
}


.ui.negative.message.App-error {
  position: absolute;
  z-index: 10;
  top: 0;
  right: 40%;
}


.ui.segment.App-top-nav {
  position: relative;
  background: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

img.App-logo {
  width: 100%;
  height: auto;
}

.App-logo-container {
  width: 100px;
}
