.App {
  /* text-align: center; */
}

.App-bottom-nav {
  position: relative;
}

.App-container {
  margin-bottom: 70px;
}

.App-bottom-nav-container {
  width: 100%;;
  bottom: 0;
  position: fixed;
  height: 70px;
  display: flex;
  background: black;
  flex-direction: row-reverse;
}


.App-filters-toggle-icon-container  {
  padding-right: 10px;
}

.App-filters-toggle-icon-container:hover {
  cursor: pointer;
}

.App-logo:hover {
  cursor: pointer;
}

.App-sidebar-button:hover {
  cursor: pointer;
}


.ui.negative.message.App-error {
  position: absolute;
  z-index: 10;
  top: 0;
  right: 40%;
}


.ui.segment.App-top-nav {
  position: relative;
  background: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0px;
  padding: 0 1em 0 1em;
  margin: 0;
}

img.App-logo {
  width: 100%;
  height: auto;
}

.App-logo-container {
  width: 100px;
}
