.Feed-container {
	text-align: center;
}

.Feed-artwork-play-pause-container {
	position: relative;
}

.Feed-artwork-play-pause-container img {
	display: block;
}

.Feed-play-pause-icon {
	color: white;
}

i.pause.circle.outline.icon.Feed-play-pause-icon {
	font-size: 40px;
	top: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	left: 50%;
}

i.video.play.outline.icon.Feed-play-pause-icon {
	font-size: 40px;
	top: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	left: 50%;
}

.Feed-play-pause-icon:hover {
	cursor: pointer;
}

.Feed-artist-image-container:hover {
	cursor: pointer;
}

.Feed-artist-image-container {
	width: 30px;
}

.Feed-artist-image {
	width: 100%;
	height: auto;
	border-radius: 100px;
}

.Feed-artist-info {
	display: flex;
	align-items: center;
	justify-content: center;
}

.ui.relaxed.divided.items>.item {
	padding: 1.5em 1.5em;
}
