$font-1: 'sofia-pro', sans-serif;
$bc-white: #f3f3f3;
$bc-purple: #6255ff;
$bc-gray: #626970;
$bc-gray-2: #262632;
$bottom-nav-height: 80px;


// bottom nav
$bc-black: #22222e;;

// background
$bc-black-1: #191925;
$bc-pink: #e54ea3;

$desktop-width: 1280px;
$tablet-width: 1150px;
$phone-width: 950px;
$tiny-width: 350px;

$transition: opacity 0.2s ease-in-out;

@mixin bc-text($font-weight: normal) {
  font-family: $font-1;
  color: $bc-white;
  font-weight: $font-weight;
}

// https://medium.com/@djpjgj/css-magic-pt-1-prevent-css-hover-on-touch-devices-56b3f8a44240
@mixin hover-supported {    
  @media not all and (pointer: coarse) {
    &:hover {
      @content;
    }
  }
}
