@import './semantic-overides';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

// SEMANTIC GLOBAL OVERRIDES

.ui.segment {
  background: none;
}

.ui.header, .header {
  @include bc-text(600);
}

p, span {
  @include bc-text();
}

.ui.inverted.vertical.center.aligned.segment {
    background: none;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}
