@import "../../globals.scss";

.BCWeeklyTracklist {
  .BCWeeklyTracklist-item-container {
    letter-spacing: -0.4px;
    padding: 0.3rem 0;
    opacity: 0.8;
    position: relative;

    &:hover {
      opacity: 1;
      cursor: pointer;
    }
    @include bc-text();

    .BCWeeklyTracklist-track-info {
      padding: 2px;
    }

    .BCWeeklyTracklist-artist {
      font-size: 12px;
      color: $bc-gray;
    }
  }
}

.spotlight {
  overflow: auto;
  max-height: 48rem;
  &:hover {
    overflow-y: scroll;
  }
}
