@import "../../globals.scss";

.BCHome {
  .BCHome-collection-header {
    @include bc-text(600);
    font-size: 1.5em;
    // padding-bottom: 2rem;
    // padding-left: 0.2rem;
  }
  .BCHome-content-container {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
  }

  .BCHome-collection-container {
    .BCHome-pagination-container {
      display: flex;
      justify-content: flex-end;
      padding-top: 2rem;
    }
  }
}
