@import "../../semantic-overides.scss";

$item-width: 250px;

.BCWeeklyItem {
  // margin: 40px;

  // calculated based on media query

  width: $item-width;
  height: $item-width;

  @media (max-width: $phone-width) {
    width: 100%;
    height: auto;
    // height: 600px;
  }

  .BCWeeklyItem-cover {
    position: relative;
    &:hover {
      cursor: pointer;
    }

    .BCWeeklyItem-cover-image {
      width: 100%;
      height: auto;
      border-radius: 4px;
      box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
    }

    .BCWeeklyItem-cover-text {
      @include bc-text();
      left: 0;

      // moving this to React style
      top: 40%;
      position: absolute;
      text-align: center;
      width: 100%;
      letter-spacing: 2.1px;

      .BCWeeklyItem-line {
        width: 15px;
        height: 2px;
        background: $bc-pink;
        border: solid 1px $bc-pink;
        margin: auto;
      }
    }
  }
}
