@import "../../globals.scss";

.opaque {
  opacity: 0.1;
}

.hidden {
  opacity: 0;
}

.visible {
  opacity: 1;
}

.BCWeeklyItem {
  position: relative;
  &::after {
    display: block;
    position: absolute;
    // position: relative;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000000);
    // margin-top: -150px;
    // margin-top: -255px;
    // margin-top: -325px;
    // height: 150px;
    height: 100%;
    width: 100%;
    top: 0;
    // border-radius: 4px;
    content: "";
  }

  // NEW for smaller episodes
  height: 150px;
  overflow: hidden;


  .BCWeeklyItem-cover-text {
    transition: $transition;
    .BCWeeklyItem-cover-text-title {
      font-weight: bold;
      font-size: 2rem;
      line-height: 1.3;
      letter-spacing: normal;
    }
    .BCWeeklyItem-cover-text-subtitle {
      line-height: 1.33;
      color: $bc-gray;
      letter-spacing: normal;
      font-size: 1.2rem;
    }
  }
  .BCWeeklyItem-cover-image {
    transition: $transition;
  }

  @include hover-supported() {
    cursor: pointer;
    .BCWeeklyItem-cover-image {
      opacity: 0.5;
    }

    .BCWeeklyItem-cover-text {
      opacity: 1;
    }
  }

  .BCWeeklyItem-cover-image {
    width: 100%;
    height: auto;
    border-radius: 4px;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
  }

  .BCWeeklyItem-cover-text {
    @include bc-text();
    position: absolute;
    padding: 2rem;
    z-index: 100;
    bottom: 0;
    letter-spacing: 2.1px;

    .BCWeeklyItem-line {
      width: 2.5rem;
      width: 1.5rem;
      height: 0.2rem;
      margin: 0.5rem 0 0.5rem 0;
      background: $bc-pink;
    }
  }
}
