@import "../../globals.scss";

.opaque {
  opacity: 0.1;
}

.hidden {
  opacity: 0;
}

.visible {
  opacity: 1;
}

.BCWeeklyItem {
  // @media (max-width: $phone-width) {
    // width: 100%;
    // height: auto;
    // border: 1px solid red;
  // }

  .BCWeeklyItem-cover {
    position: relative;

    .BCWeeklyItem-cover-text {
      transition: $transition;
    }
    .BCWeeklyItem-cover-image {
      transition: $transition;
    }

    @include hover-supported() {
     cursor: pointer;
      .BCWeeklyItem-cover-image {
        opacity: 0.1;
      }

      .BCWeeklyItem-cover-text {
        opacity: 1;
      } 
    }
    
    .BCWeeklyItem-cover-image {
      width: 100%;
      height: auto;
      border-radius: 4px;
      box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
    }

    .BCWeeklyItem-cover-text {
      @include bc-text();
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      width: 100%;
      letter-spacing: 2.1px;

      .BCWeeklyItem-line {
        width: 15px;
        height: 2px;
        background: $bc-pink;
        margin: auto;
      }
    }
  }
}
